# Directories
.vs/
bin/
bin-int/

# Files
*.user
Wing3D Conversion/PyScripts/__pycache__/*.*

.vscode/
*.sln
*.vcxproj
frtk/*.vcxproj
frtk/*.vcxproj.filters

*.sln
*.vcxproj
frtk/vendor/fltk
frtk/vendor/Glad/*.vcxproj
frtk/vendor/Glad/*.vcxproj.filters
