# Directories
.vs/
bin/
bin-int/
bin-init/
bin_obj/
./cr
Makefile
Design456App.make

# Files
*.user

.vscode/
*.sln
*.vcxproj

Design456App/*.json
#Design456App/imgui.ini
Design456App/*.vcxproj
Design456App/Makefile
Design456App/Design456App.vcxproj
Design456App/Design456App/*.json
#Traces for ApiTrace
*.trace
Design456App/*.trace

#FLTK - not used at the moment

frtk/*.vcxproj
frtk/*.vcxproj.filters
frtk/vendor/imGui/imGui.vcxproj.*
frtk/vendor/fltk


frtk/vendor/Glad/bin-int/
frtk/vendor/Glad/bin/
frtk/vendor/Glad/Makefile
frtk/vendor/Glad/*.vcxproj
frtk/vendor/Glad/*.vcxproj.*

frtk/vendor/GLFW/bin-int/
frtk/vendor/GLFW/bin/
frtk/vendor/GLFW/Makefile
frtk/vendor/GLFW/*.vcxproj
frtk/vendor/GLFW/*.vcxproj.*

frtk/vendor/glm/bin-int/
frtk/vendor/glm/bin/
frtk/vendor/glm/Makefile
frtk/vendor/glm/test/

frtk/vendor/glm/*.vcxproj
frtk/vendor/glm/*.vcxproj.*

frtk/vendor/imGui/bin-int/
frtk/vendor/imGui/bin/
frtk/vendor/imGui/Makefile
frtk/vendor/imGui/*.vcxproj
frtk/vendor/imGui/*.vcxproj.filters

frtk/vendor/ImGuizmo/bin-int/
frtk/vendor/ImGuizmo/bin/
frtk/vendor/ImGuizmo/Makefile
frtk/vendor/ImGuizmo/*.vcxproj
frtk/vendor/ImGuizmo/*.vcxproj.filters

frtk/vendor/objloader/bin-int/
frtk/vendor/objloader/bin/
frtk/vendor/objloader/Makefile
frtk/vendor/objloader/*.vcxproj
frtk/vendor/objloader/*.vcxproj.filters

frtk/vendor/OpenMesh/bin-int/
frtk/vendor/OpenMesh/bin/
frtk/vendor/OpenMesh/Makefile
frtk/vendor/OpenMesh/*.vcxproj
frtk/vendor/OpenMesh/*.vcxproj.filters

frtk/vendor/spdlog/bin-int/
frtk/vendor/spdlog/bin/
frtk/vendor/spdlog/Makefile
frtk/vendor/spdlog/example
frtk/vendor/spdlog/*.vcxproj
frtk/vendor/spdlog/*.vcxproj.filters

frtk/vendor/stb_image/bin-int/
frtk/vendor/stb_image/bin/
frtk/vendor/stb_image/Makefile
frtk/vendor/stb_image/*.vcxproj
frtk/vendor/stb_image/*.vcxproj.filters

frtk/vendor/yaml-cpp/bin-int/
frtk/vendor/yaml-cpp/bin/
frtk/vendor/yaml-cpp/Makefile
frtk/vendor/yaml-cpp/*.vcxproj
frtk/vendor/yaml-cpp/*.vcxproj.filters


frtk/vendor/freetyp/bin-int/
frtk/vendor/freetyp/bin/
frtk/vendor/freetyp/Makefile
frtk/vendor/freetyp/*.vcxproj
frtk/vendor/freetyp/*.vcxproj.filters
